torch
numpy
pandas
matplotlib
scikit-learn
pyyaml

pytorch-lightning
omegaconf
hydra-core

pymatgen
ase
tqdm

fastapi
uvicorn

motor
pymongo
dnspython

bcrypt
python-jose[cryptography]
passlib[bcrypt]

python-multipart

python-dotenv